[SddmGreeterTheme]
Name=Dark Chocolate
Description=Simple, Dark, Minimal 
Author=KJone
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Website=https://github.com/KJone1/sddm-dark-chocolate
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-dark-chocolate
Theme-API=2.11
